<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const onBoardEmployeeUrl = "{% url 'onboard_employee' %}";
    </script>
</head>
<body class="body">
<div class="home-main">
    <div class="big-text">
        <span class="headerText">Our Key Features:</span>
            <p><span>Effortless Onboarding: </span>Simplify the new hire experience with a streamlined onboarding process.</p>
            <p><span>Performance Management:</span>Track goals, offer feedback, and drive continuous employee development.</p>
            <p><span>Skill Development:</span>Foster a culture of learning with training programs and skill gap analysis tools.</p>
            <p><span>Engagement & Retention: </span>Motivate and retain top talent with recognition programs and career development plans.</p>
            <p><span>Data-Driven Insights:</span>Gain valuable insights with comprehensive reports and analytics to make informed decisions.</p>
        </span>
        <div class="buttons">
            <button class="register" onclick="window.location.href=onBoardEmployeeUrl">Register</button>
            <button class="login">Login</button>
        </div>

    </div>
    <div class="text101">
        <h1 style="font-weight: bolder;font-size: xx-large; border-radius: 5px">Welcome TO TalentLinks.</h1>
        <img class="image" src="../static/assets/image1.jpg" alt="image">
    </div>
</div>
</body>
<script>

</script>
</html>